body {
    /*font-family: 'VTFMisterPixelRegular';*/
    font-weight: normal;
    font-style: normal; 
    font-size: 20px;
    background-color: #07172B;
}

.navbar-oga{
    background-color: #217892;
}

.main-container-body{
    width: 1200px;
    margin: auto;
}

.oga-big-title{
    font-size: 30px;
}

.oga-highlight-opensource{
    color: #29CF8A;
    padding-top: 30px;
    padding-bottom: 30px;
}

.oga-jumbotron-title{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.oga-search-options{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.jumbotron{
    background: transparent;
}

.card{
    background-color: transparent;
    border-width: 0px;
}

.card-body{
    background-color: rgba(6, 38, 48, 0.45);
    margin-top: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-header{
    background-color: transparent;
    border-color: #143350;
    border-width: 0px;
    border-style: solid;
    border-bottom-width: 5px;
    color: #31ACFF!important;
    text-align: center;
    font-size: 30px;
}

.card-text{
    color: #CACACA;
}

.card-title{
    font-size: 20px;
    color: #F2FAFF!important;
    border-width: 0px;
    /*background-color: rgba(0, 0, 0, 0.26);*/
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
}

.oga-read-more{
    color: #D6890E;
}

.oga-avatar{
    padding-bottom: 10px;
}

.oga-main-title{
    margin-top: 50px;
}

.oga-img {
    width: 350px; /* You can set the dimensions to whatever you want */
    height: 200px;
    object-fit: contain;
}